:root {
    --color-black: #3333;
    --color-white: #FFFFFF;
    --color-orange: #FA6750;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:visited {
    color: inherit;
}