.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 60px;
}

.primaryButton {
  color: var(--color-white);
  border-radius: 60px;
  background: var(--color-orange);
}

.secondaryButton {
  color: var(--color-orange);
  border-radius: 60px;
  border: 1px solid var(--color-orange);
  background: var(--color-white);
}
